@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html > body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(250, 244, 244);
}

#holder {
    min-height: 100%;
    position: relative;
}

#Logo {
    position: relative;
    height: 160px;
    width: 240px;
    text-decoration: none;
    color: black;
    left: 10px;
    top: 5px;
}

#mmenu {
    margin-top: 5px;
    position: relative;
    right: 5px;
    color: white;
    font-size: 20px;
    z-index: 100;
}

nav > ul {
    position: fixed;
	/* /background-color: #ffffff;/ */
	/* /background: -webkit-linear-gradient(top , #eeeded 0% , #9f9d9d 100%); */
	border-radius: 2px;
	/* /box-shadow: 0px 3px 5px;/ */
	top: -110px;
	left: 55%;
	list-style: none;
	text-decoration: none;
	font-size: 30px;
	padding: 0px;
	margin: 0px;
	z-index: 4;
	display: inline-block;
	z-index: 20;
}

nav > ul > li {
    position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	font-size: -30px;
	color: #ffffff;
	text-align: center;
	z-index: 20;
}

nav > ul > li > a {
    text-decoration: none;
    color: #0d0e0c;
    text-align: center;
    padding: 10px 5px;
}

nav > ul > li:hover > a {
    position: relative;
    opacity: 1;
    border-bottom: 3px solid rgba(0, 0, 0, 1);
}

nav > ul > li > ul {
    position: absolute;
    top: 55px;
    text-align: center;
    display: none;
    list-style: none;
    padding: 10px;
    opacity: 1;
    box-shadow: 1px 1px 1px;
    margin-top: 0;
}

nav > ul > li:hover > ul {
    display: block;
    margin-top: -19px;
    background: transparent;
    backdrop-filter: blur(8px);
    border: 2px solid black;
    border-radius: 10px;
}

nav > ul > li > ul > li {
    display: block;
    padding: 10px 0;
    opacity: 1;
}

nav > ul > li > ul > li:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
}

nav > ul > li > ul > li:hover > a {
    color: rgba(0, 0, 0, 0.8);
    font-size: -30px;
}

nav > ul > li > ul > li > a {
    display: block;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.current {
    position: relative;
    border-bottom: 3px solid rgba(0, 0, 0, 1);
    padding-bottom: 10px;
}

#login {
    background-color: rgb(194, 17, 17);
    border-style: solid;
    border-width: 2px;
    border-color: #FFBD00;
    left: 84%;
    top: 100px;
    position: fixed;
    height: 30px;
    width: 200px;
    text-align: center;
    vertical-align: middle;
    font-size: 27px;
    cursor: pointer;
    z-index: 11;
}

#login:hover {
    background-color: rgba(255, 189, 0, 1);
    border-bottom: 2px solid #616161;
    border-left: 2px solid #616161;
    border-right: 2px solid #616161;
    border-top: 2px solid #616161;
}

#login a {
    color: #FFBD00;
    text-decoration: none;
}

#login:hover a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

#ltird {
    display: block;
    height: 10%;
    width: 88%;
    margin: 1% 3%;
    background: -webkit-linear-gradient(bottom , #121212 -50% , #373737 100%);
    background: -moz-linear-gradient(bottom , #121212 -50% , #b33939 100%);
    background: linear-gradient(bottom , #121212 -50% , #373737 100%);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2), 2px 2px 2px 2px rgba(0,0,0,0.19);
    overflow: hidden;
    border: 2px solid #FFBD00;
    z-index: 20;
    padding: 6% 6%;
}

#ltird a {
    color: #FFBD00;
    text-decoration: none;
    font-size: 10px;
}

#ltird a:hover {
    color: #181715;
}

#bottom {
    height: 80px;
    top: 90%;
    bottom: -100vh;
    width: 100%;
    opacity: 1;
    z-index: 0;
    background: -webkit-linear-gradient(top , rgba(239, 237, 237, 1) 0% , #FFBD00 100%);
    background: -moz-linear-gradient(top , rgba(239, 237, 237, 1) 0% , #FFBD00 100%);
}

#center {
    margin: 0;
    top: 0;
    left: 0;
    right: 14%;
    height: 100%;
    width: 86%;
    position: absolute;
    z-index: 0;
}

#mtird {
    height: 55vh;
    width: 25%;
    position: absolute;
    top: 150px;
    right: 3%;
    /* border: 2px solid #B1B1B1; */
    z-index: 10;
    display: inline-block;
    /* background-color: #2a83b4; */
    background-image: url('img/ghrcem123.jpeg');
    /* filter: blur(4px); */
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2), 10px 10px 10px 10px rgba(0,0,0,0.19);
    overflow: hidden;
    border: 1px solid #0e0d0d;
    z-index: 21;
    padding: 6% 6%;
}

#mtird p {
    color: #1B1717;
    font-size: 18px;
    padding-left: 10px;
    -webkit-transform : translateY(100%);
    -moz-transform : translateY(100%);
    transform : translateY(100%);
    -webkit-animation : mtird 15s linear infinite;
    -moz-animation : mtird 15s linear infinite;
    animation : mtird 15s linear infinite;
}

@-webkit-keyframes mtird {
    0% { -webkit-transform : translateY(100%); }
    100% { -webkit-transform : translateY(-100%); }
}

@-moz-keyframes mtird {
    0% { -moz-transform : translateY(100%); }
    100% { -moz-transform : translateY(-100%); }
}

@keyframes mtird {
    0% { transform : translateY(100%); }
    100% { transform : translateY(-100%); }
}
